.leftMenu {
  position: fixed;
  left: 0;
  top: 50px;
  width: 400px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
}
.leftMenu .search-box {
  position: absolute;
  height: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}
.leftMenu #jstree_demo_div {
  margin-top: 30px;
}
.leftMenu::-webkit-scrollbar-track-piece {
  width: 10px;
  background-color: #dedede;
}
.leftMenu::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
.leftMenu::-webkit-scrollbar-thumb {
  height: 50px;
  background: #ababab;
  cursor: pointer;
}
.leftMenu::-webkit-scrollbar-thumb:hover {
  background: #ababab;
  cursor: pointer;
}
.rightContent {
  margin-left: 400px;
}
.s_type {
  color: #2b91af;
}
.s_keyword {
  color: blue;
}
.s_comment {
  color: #008000;
}
.s_string {
  color: #a31515;
}